/*
dotnet add package Microsoft.Extensions.AI --version 9.3.0-preview.1.25161.3
dotnet add package Microsoft.Extensions.AI.AzureAIInference --version 9.3.0-preview.1.25161.3
dotnet add package Microsoft.Extensions.Configuration --version 9.0.4
dotnet add package Microsoft.Extensions.Configuration.Json --version 9.0.4
dotnet add package Microsoft.Extensions.Configuration.UserSecrets --version 9.0.4
dotnet add package Microsoft.Extensions.AI.Ollama --version 9.3.0-preview.1.25161.3
*/