/*
dotnet add package Microsoft.Extensions.AI.Ollama --version 9.3.0-preview.1.25161.3
dotnet add package Microsoft.Extensions.VectorData.Abstractions --version 9.0.0-preview.1.25078.1
dotnet add package Microsoft.SemanticKernel.Connectors.InMemory --version 1.42.0-preview
*/